/* Header Styles */
.header {
  padding: 10px 7px;
  background: #673AB7;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 999; 
}

/* Button Styles */
.header-button {
  margin-left: 10px;
}

/* Logo Styles */
.custom-logo {
  width: 90px;
  height: 30px;
}

