<div class="sidenav_container">
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
    <div>
      <mat-nav-list>
        <!-- Navigation Links -->
        <mat-list-item mat-list-item routerLink="/search">
          <span>Search a Place</span>
          <mat-icon matListItemIcon>search</mat-icon>
        </mat-list-item>

        <mat-list-item mat-list-item [routerLink]="'/dashboard/' + userUid$">
          <span>My Space</span>
          <mat-icon matListItemIcon>grid_on</mat-icon>
        </mat-list-item>
        
        <mat-list-item mat-list-item (click)="onLogOut()">
          <span>Log Out</span>
          <mat-icon matListItemIcon>logout</mat-icon>
        </mat-list-item>

        <!-- My Friends -->
        <mat-list-item class="menu-item" (click)="toggleExpansionPanel(1)">
          <span>My Friends</span>
          <mat-icon [class.rotate-arrow]="isMyFriendsPanelOpen" class="arrow-icon">keyboard_arrow_down</mat-icon>
          <mat-icon matListItemIcon>list</mat-icon>
        </mat-list-item>
        <mat-expansion-panel class="mat-elevation-z0" #myFriendsPanel>
          <div *ngFor="let friend of friendsList$" class="user-display" (click)="toFoundUser(friend.uid)">
            <img [src]="friend.profileURL" alt="Profile Image">
            <div class="foundUser-info">
              <div class="userName">{{ friend.userName }}</div>
            </div>
            <mat-icon 
              matTooltip="Remove from your friend"
              class="remove-button"
              (click)="removeFriend(friend.uid)">
              group_remove
            </mat-icon>
          </div>
          <div *ngIf="friendsList$.length === 0" style="padding-top: 10px;"> You have no Friends </div>
        </mat-expansion-panel>

         <!-- Find Friends -->
        <mat-list-item class="list-item" (click)="toggleExpansionPanel(2)" >
          <span>Find Friends</span>
          <mat-icon [class.rotate-arrow]="isFindFriendsPanelOpen" class="arrow-icon">keyboard_arrow_down</mat-icon>
          <mat-icon matListItemIcon>people_outline</mat-icon>
        </mat-list-item>
        <mat-expansion-panel class="mat-elevation-z0" #findFriendsPanel>
          <div class="section-heading">Find Your Friend with Username</div>
          <div class="form-field-container">
            <mat-form-field class="input-field">
              <div class="input-button-container">
                <input matInput placeholder="Username" [(ngModel)]="searchedUsername">
              </div>
              <button
              (click)="searchUserByUsername()" 
              mat-mini-fab 
              matSuffix 
              color="primary" 
              aria-label="Search" 
              class="search-button">
                <mat-icon aria-label>search</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div *ngIf="foundUser$" (click)="toFoundUser(foundUser$.uid)" class="user-display">
            <img [src]="foundUser$.profileURL" alt="Profile Image">
            <div class="foundUser-info">
              <div class="userName">{{ foundUser$.userName }}</div>
              <div class="email">{{ foundUser$.email }}</div>
            </div>
          </div>
          <div *ngIf="foundUser$ === null">User not found</div>
        </mat-expansion-panel>
      </mat-nav-list>
    </div>
  </div>
</div>
